[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
python-engineio = "*"
python-socketio = {extras = ["client"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
